# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Generated data artifacts
data/*.npy
models/
lab.ipynb
lab2.ipynb
# Virtual environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db